<div class="mx-3 px-2  border-b-2 border-black text-center">
  <p class="font-semibold text-black text-center">Editar direccion</p>
</div>
<mat-dialog-content>

  <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
    <div class="flex items-start flex-col">

      <label for="Name"
             class="relative block w-1/2 overflow-hidden border-b border-black bg-transparent pt-3 ">
        <input type="text" id="Name" placeholder="Nombre"
               class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

        <span
          class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                  Nombre y apellido
                              </span>
      </label>
      <label for="CP"
             class="relative block w-1/2 mt-3 overflow-hidden border-b border-black bg-transparent pt-3 ">
        <input type="text" id="CP" placeholder="Codigo Postal"
               class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

        <span
          class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                  Codigo Postal
                              </span>
      </label>

      <div class="flex justify-between w-full">
        <label for="estado"
               class="relative block w-1/2 mr-4 mt-3 overflow-hidden border-b border-black bg-transparent pt-3 ">
          <input type="text" id="estado" placeholder="Estado"
                 class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

          <span
            class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                      Estado
                                  </span>
        </label>
        <label for="municipio"
               class="relative block w-1/2 mt-3 overflow-hidden border-b border-black bg-transparent pt-3 ">
          <input type="text" id="municipio" placeholder="Municipio/Alcaldia"
                 class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

          <span
            class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                      Municipio/Alcaldia
                                  </span>
        </label>
      </div>

      <label for="colonia"
             class="relative block w-1/2 mt-3 overflow-hidden border-b border-black bg-transparent pt-3 ">
        <input type="text" id="colonia" placeholder="Colonia"
               class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

        <span
          class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                  Colonia
                              </span>
      </label>

      <div class="flex justify-between w-full">
        <label for="calle"
               class="relative block w-1/2 mr-4 mt-3 overflow-hidden border-b border-black bg-transparent pt-3 ">
          <input type="text" id="calle" placeholder="Calle"
                 class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

          <span
            class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                      Calle
                                  </span>
        </label>
        <label for="NumeroExterior"
               class="relative block w-1/2 mt-3 overflow-hidden border-b border-black bg-transparent pt-3 ">
          <input type="text" id="NumeroExterior" placeholder="Numero Exterior"
                 class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

          <span
            class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                      Numero Exterior
                                  </span>
        </label>
      </div>

      <label for="NumeroInterior"
             class="relative block w-1/2 mt-3 overflow-hidden border-b border-black bg-transparent pt-3 ">
        <input type="text" id="NumeroInterior" placeholder="Numero Interior"
               class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

        <span
          class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                  Numero Interior
                              </span>
      </label>

      <p class="text-sm mt-3 text-center w-full">Entre que calles está? (Opcional) </p>
      <div class="flex justify-between w-full">
        <label for="calle1"
               class="relative block w-1/2 mr-4 mt-3 overflow-hidden border-b border-black bg-transparent pt-3 ">
          <input type="text" id="calle1" placeholder="Calle 1"
                 class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

          <span
            class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                      Calle 1
                                  </span>
        </label>
        <label for="calle2"
               class="relative block w-1/2 mr-4 mt-3 overflow-hidden border-b border-black bg-transparent pt-3 ">
          <input type="text" id="calle2" placeholder="Calle 2"
                 class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

          <span
            class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                      Calle 2
                                  </span>
        </label>

      </div>
      <label for="NumeroContacto"
             class="relative block w-2/3 overflow-hidden border-b border-black bg-transparent pt-3 mt-3 ">
        <input type="text" id="NumeroContacto" placeholder="Numero de Contacto"
               class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

        <span
          class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                                  Numero de Contacto
                              </span>
      </label>

      <label for="Informacion Adicional"
             class="relative block w-2/3 overflow-hidden border-b border-black bg-transparent pt-6 ">
                              <textarea id="Informacion Adicional" placeholder="Informacion adicional del domicilio"
                                        class="peer h-16 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                                        cols=""></textarea>

        <span
          class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-5 peer-focus:text-xs">
                                  Informacion adicional del domicilio
                              </span>
      </label>

    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button [mat-dialog-close]="true"   class="group relative inline-block overflow-hidden border bg-black border-black px-8 py-3 focus:outline-none focus:ring mx-2"
          href="#">
                          <span
                            class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-white transition-all group-hover:w-full group-active:bg-white"></span>

    <span class="relative text-sm font-medium text-white transition-colors  text-center">
                              Guardar Cambios
                          </span>
  </button>
  <button mat-dialog-close class="group relative inline-block overflow-hidden border border-black px-8 py-3 focus:outline-none focus:ring mx-2"
          href="#">
                          <span
                            class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-black transition-all group-hover:w-full group-active:bg-white"></span>

    <span class="relative text-sm font-medium text-black transition-colors text-center">
                              Cancelar
                          </span>
  </button>

</mat-dialog-actions>
<!--<div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
</div>-->
