<div class="flex w-full items-center border-b-2 border-black mb-6 p-3">
  <input type="text" placeholder="Buscar producto"
         class="focus:border-none w-11/12 border-black border-solid border-2 rounded-md  p-3 outline-black outline-2">
  <svg class="h-4 w-1/12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
       stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
  </svg>
</div>

<ul class="grid gap-6 grid-cols-1 w-full">

  <li class="grid gap-10 grid-cols-9">

    <div class="col-span-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqSdma0tkrqS_eOzK9DfkgYBlSkN1oCcCohQ&usqp=CAU"
           alt="">
    </div>

    <div class="grid columns-1 rows-7 col-span-4">
      <p class="font-bold underline row-span-3 grid text-lg content-center align-middle">
        Producto</p>
      <p>Talla : M</p>
      <p>Color : Negro</p>
    </div>

    <div class="grid columns-2 col-span-1">
      <img src="https://www.svgrepo.com/show/502640/edit-1.svg" alt="">
    </div>

    <div class="grid columns-2 col-span-1">
      <img src="https://www.svgrepo.com/show/502608/delete-2.svg" alt="">
    </div>
  </li>

  <li class="grid gap-10 grid-cols-9">

    <div class="col-span-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqSdma0tkrqS_eOzK9DfkgYBlSkN1oCcCohQ&usqp=CAU"
           alt="">
    </div>

    <div class="grid columns-1 rows-7 col-span-4">
      <p class="font-bold underline row-span-3 grid text-lg content-center align-middle">
        Producto</p>
      <p>Talla : M</p>
      <p>Color : Negro</p>
    </div>

    <div class="grid columns-2 col-span-1">
      <img src="https://www.svgrepo.com/show/502640/edit-1.svg" alt="">
    </div>

    <div class="grid columns-2 col-span-1">
      <img src="https://www.svgrepo.com/show/502608/delete-2.svg" alt="">
    </div>
  </li>

  <li class="grid gap-10 grid-cols-9">

    <div class="col-span-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqSdma0tkrqS_eOzK9DfkgYBlSkN1oCcCohQ&usqp=CAU"
           alt="">
    </div>

    <div class="grid columns-1 rows-7 col-span-4">
      <p class="font-bold underline row-span-3 grid text-lg content-center align-middle">
        Producto</p>
      <p>Talla : M</p>
      <p>Color : Negro</p>
    </div>

    <div class="grid columns-2 col-span-1">
      <img src="https://www.svgrepo.com/show/502640/edit-1.svg" alt="">
    </div>

    <div class="grid columns-2 col-span-1">
      <img src="https://www.svgrepo.com/show/502608/delete-2.svg" alt="">
    </div>
  </li>

  <li class="grid gap-10 grid-cols-9">

    <div class="col-span-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqSdma0tkrqS_eOzK9DfkgYBlSkN1oCcCohQ&usqp=CAU"
           alt="">
    </div>

    <div class="grid columns-1 rows-7 col-span-4">
      <p class="font-bold underline row-span-3 grid text-lg content-center align-middle">
        Producto</p>
      <p>Talla : M</p>
      <p>Color : Negro</p>
    </div>

    <div class="grid columns-2 col-span-1">
      <img src="https://www.svgrepo.com/show/502640/edit-1.svg" alt="">
    </div>

    <div class="grid columns-2 col-span-1">
      <img src="https://www.svgrepo.com/show/502608/delete-2.svg" alt="">
    </div>
  </li>

</ul>

<button class="p-3 rounded-md relative -bottom-12 text-white bg-black grid text-center w-full"
        (click)="agregarNuevoProducto()"
>
  Añadir producto
</button>
