<div class=" flex items-center justify-center bg-white"> <!--items-center h-screen-->
    <div class="bg-white border-2 border-black rounded-lg w-200 p-8 border-b-0">
      <h1 class="text-3xl font-bold mb-20 text-center">Iniciar sesión</h1>
      <form class="mb-8" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-6">
          <label class="block text-black-700 font-bold mb-2" for="username">
            Usuario/email
          </label>
          <input name="username" formControlName="username"
            class="border-b border-black w-full text-black-700 
            leading-tight focus:outline-none focus:border-black-500" id="username" type="text">
        </div>
        <div class="mb-6">
          <label class="block text-black-700 font-bold mb-2" for="password">
            Contraseña
          </label>
          <input name="password" formControlName="password"
            class="border-b border-black w-full  text-black-700 
            leading-tight focus:outline-none focus:border-black-500" id="password" type="password">
        </div>
        <div class="mb-4 flex items-center p-3">
          <input type="checkbox" id="remember-me" class="mr-2 leading-tight">
          <label class="text-black-700 font-bold mr-10" for="remember-me">
            Recuérdame
          </label>
          <a href="#" class="text-black underline">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="flex items-center justify-center p-4">
          <button 
            class="bg-black hover:bg-black-900 text-white font-bold  
            rounded focus:outline-none focus:shadow-outline" type="submit">
            Iniciar sesión
          </button>
        </div>
        <div class="mb-4 flex items-center justify-center p-3">
            <label class="text-black-200 mr-4" for="remember-me">
                ¿No tienes cuenta?
            </label>
            <a routerLink="/auth/registro" class="text-black underline font-bold">Registrarse</a>
        </div>
      </form>
    </div>
  </div>
  