<div class="flex justify-center "> <!--items-center h-screen-->
  <div class="flex-col justify-center w-[500px] bg-red-600">
      <div class="bg-white border-2 border-black p-8">
        <div class="text-3xl font-bold mb-20 text-center">Iniciar sesión</div>
        <form class="w-full" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-6">
            <label class="block text-black-700 font-bold mb-2" for="username">
              Correo electrónico
            </label>
            <input name="username" formControlName="username"
              class="border-b border-black w-full text-black-700
              leading-tight focus:outline-none focus:border-black-500" id="username" type="text">
          </div>
          <div class="mb-6">
            <label class="block text-black-700 font-bold mb-2" for="password">
              Contraseña
            </label>
            <input name="password" formControlName="password"
              class="border-b border-black w-full  text-black-700
              leading-tight focus:outline-none focus:border-black-500" id="password" type="password">
          </div>
          <div class="mb-4 flex justify-between">
            <div class="flex gap-3">
              <div class="mb-0">
                <input type="checkbox" id="remember-me" class="mb-0">
              </div>
              <label class="text-black-700 font-bold" for="remember-me">
                Recuérdame
              </label>
            </div>
            <a class="text-black underline cursor-pointer" (click)="irRestablecerContrasenia()">¿Olvidaste tu contraseña?</a>
          </div>
          <div class="mt-10 flex items-center justify-center">
            <button
              class="bg-gray-950 text-white font-bold rounded border-2
              hover:bg-black
              focus:outline-none
              focus:ring
              focus:ring-gray-300
              hover: border-black
              w-full p-3" type="submit">
              Iniciar sesión
            </button>
          </div>
          <div class="mt-16 flex items-center justify-center p-3">
              <label class="text-black-200 mr-4" for="remember-me">
                  ¿No tienes cuenta?
              </label>
              <a routerLink="/auth/registro" class="text-black underline font-bold cursor-pointer">Registrate</a>
          </div>
        </form>
      </div>
  </div>
</div>
