

/* Estilos para el contenedor */
.container {
    height: 100vh;
  }

  /* Estilos para la tarjeta de inicio de sesión */
  .card {
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: white;
    width: 28rem;
    padding: 2rem;
  }

  /* Estilos para los inputs */
  input {
    border: none;
    border-bottom: 1px solid black;
    padding: 0.5rem 0.25rem;
    margin-bottom: 1rem;
  }

  /*!* Estilos para el botón *!
  button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  button:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
  }*/

