<main class="min-h-screen flex flex-col">
    <section class="bg-white">
        <div class="mx-auto max-w-screen-2xl px-4  sm:px-6 lg:px-8">

            <div class="lg:mt-0 lg:grid lg:grid-cols-4 lg:items-start lg:gap-8 bg-white z-0">

                <div class="hidden space-y-4 lg:block sticky top-16 py-6">
                    <div class="text-lg font-semibold text-black sm:text-4xl">
                        Colección de productos
                    </div>
                    <div class="flex flex-col items-start">
                      <div *ngIf="generoProducto === 'mujer'">
                        <div
                          *ngFor="let categoria of catalagoMujer"
                          (click)="seleccionarCateogoria(categoria.tipo)"
                          [class]="categoriaProducto === categoria.tipo ? 'font-extrabold' : 'font-medium hover:font-bold text-black before:absolute before:-bottom-1 before:h-px before:w-full before:origin-right before:scale-x-100 before:bg-black before:transition hover:before:scale-0 before:duration-20' "
                          class="relative text-lg  ease-out mt-8 cursor-pointer"
                          href="#">
                          {{categoria.tipo}}
                        </div>

                      </div>
                      <div *ngIf="generoProducto === 'hombre'">
                        <div
                          *ngFor="let categoria of catalagoHombre"
                          (click)="seleccionarCateogoria(categoria.tipo)"
                          [class]="categoriaProducto === categoria.tipo ? 'font-extrabold' : 'font-medium hover:font-bold text-black before:absolute before:-bottom-1 before:h-px before:w-full before:origin-right before:scale-x-100 before:bg-black before:transition hover:before:scale-0 before:duration-20' "
                          class="relative text-lg  ease-out mt-8 cursor-pointer"
                            href="#">
                          {{categoria.tipo}}
                        </div>

                      </div>

                    </div>

                </div>

                <div class="lg:col-span-3 ">
                    <div class="flex w-full items-center border-b-2 border-black mb-6 p-3 sticky top-16 py-6 bg-white z-10">
                        <div class="flex items-start">
                            <div class="text-xl font-semibold text-black sm:text-3xl">
                              {{categoriaProducto}}
                            </div>
                        </div>
                        <div class="flex flex-1 justify-end items-end">
                            <span
                                class="inline-block underline-offset-4 underline text-md font-semibold tracking-wide items-center">
                                Filtrar por

                            </span>
                            <span class="material-symbols-outlined">
                                expand_more
                            </span>
                        </div>
                    </div>
                    <ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4 z-0" >
                        <li *ngFor="let producto of productos; let i=index">
                            <app-detalle-producto [producto]="producto!"></app-detalle-producto>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

</main>



