<div class="mx-3 px-2 border-b-2 border-black text -center">
  <p class="font-semibold text-black text-center">Reseñas del producto</p>
</div>

<mat-dialog-content>

  <div class="bg-white px-4">
    <div class="grid grid-cols-5">

      <div class="col-span-2 flex flex-col gap-5 border-r-2 border-black">
        <div class="sticky top-0">

          <div class="grid grid-rows-1 grid-flow-col p-5">

            <div class="grid grid-cols-3">
              <div class="p-4 font-extrabold text-5xl	">{{(producto.valoracion_total  || 0) | number:'1.1-1'}}</div>
              <div class="p-4 grid grid-flow-col grid-rows-2 col-span-2">
                <div class="grid grid-cols-5">
                  <img class="h-6 w-6" *ngFor="let c of recorrido_estrellas"
                  [src]="c!=0 ? 'https://www.svgrepo.com/show/510223/solid-star.svg' : 'https://www.svgrepo.com/show/509984/half-solid-star.svg'"
                   alt="">

                   <img *ngFor="let i of [].constructor(recorrido_estrellas_restantes)"
                  class="h-6 w-6" src="https://www.svgrepo.com/show/510242/star.svg" alt="">

                  <!-- <img class="h-6 w-6"
                       src="https://www.svgrepo.com/show/510223/solid-star.svg" alt="">
                  <img class="h-6 w-6"
                       src="https://www.svgrepo.com/show/510223/solid-star.svg" alt="">
                  <img class="h-6 w-6"
                       src="https://www.svgrepo.com/show/510223/solid-star.svg" alt="">
                  <img class="h-6 w-6"
                       src="https://www.svgrepo.com/show/510223/solid-star.svg" alt="">
                  <img class="h-6 w-6"
                       src="https://www.svgrepo.com/show/509984/half-solid-star.svg"
                       alt=""> -->
                </div>
                <div class="text-sm">
                  {{comentarios.length}} Calificaciones
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-center">
            <button class="group relative inline-block overflow-hidden border bg-black border-black px-8 py-3 focus:outline-none focus:ring mx-2"
                    (click)="irCrearComentario()"
            >
              <span class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-white transition-all group-hover:w-full group-active:bg-white"></span>

              <span class="relative text-sm font-medium text-white transition-colors  text-center">
              Añadir mi reseña
            </span>
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-span-3 grid place-items-center place-content-center"
        *ngIf="comentarios.length===0">
        <div>
          Aún no hay comentarios para este producto
        </div>
      </div>
      <div class="col-span-3" *ngIf="comentarios.length!==0">

        <div *ngFor="let comentario of comentarios" class="flex flex-col  pl-5 pr-5 pt-2 pd-2">
          <div class="grid grid-cols-2 p-4">
            <div class="grid grid-cols-5">
              <img *ngFor="let i of [].constructor((comentario.valoracion!))"
                class="h-6 w-6" src="https://www.svgrepo.com/show/510223/solid-star.svg" alt="">
              <img *ngFor="let i of [].constructor(5-(comentario.valoracion!))"
                class="h-6 w-6" src="https://www.svgrepo.com/show/510242/star.svg" alt="">

           <!--    <img class="h-6 w-6"
                  src="https://www.svgrepo.com/show/510223/solid-star.svg" alt="">
              <img class="h-6 w-6"
                  src="https://www.svgrepo.com/show/510223/solid-star.svg" alt="">
              <img class="h-6 w-6"
                  src="https://www.svgrepo.com/show/510223/solid-star.svg" alt="">
              <img class="h-6 w-6"
                  src="https://www.svgrepo.com/show/510223/solid-star.svg" alt="">
              <img class="h-6 w-6"
                  src="https://www.svgrepo.com/show/509984/half-solid-star.svg"
                  alt=""> -->
            </div>
            <div class="grid justify-end font-bold">{{comentario.titulo}}</div>
          </div>
          <div class="row-span-2 pl-4 text-justify">
            {{comentario.comentario}}
          </div>
          <div class="mt-3 font-medium pl-4 text-black italic">
            - {{comentario.usuario?.nombre!}} {{comentario.usuario?.apellido!}}
          </div>



        </div>





      </div>
    </div>
  </div>
</mat-dialog-content>

