<section class="todos-los-pedidos">
  <div class="texto-centro">
    <h2>Detalles del pedido</h2>
  </div>
  <div class="detalle-pedido">
    <div class="columna">
      <div class="texto-columna">
        <h4>Num Pedido</h4>
        <h3>XLMN99394JNFF</h3>
      </div>
    </div>
    <div class="columna">
      <div class="texto-columna">
        <h4>Num Pedido</h4>
        <h3>XLMN99394JNFF</h3>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Producto</th>
      <th> </th>
      <th>Cantidad</th>
      <th>Importe</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>01 de Marzo del 2021 8:35 am</th>
      <th>Num. Pedido XLMN99394JNFF</th>
      <th> </th>
      <th><i class="ri-delete-bin-6-line"></i></th>
    </tr>
    <tr>
      <td data-label="Producto"><img class="tabla-imagen" src="./assets/shine-sin-eslogan.png" alt="playera"></td>
      <td data-label="Descripcion">Camiseta Skater Oversized en negro Degradado</td>
      <td data-label="Cantidad">1</td>
      <td data-label="Importe">$MXN 900.00</td>
    </tr>
    <tr>
      <th>01 de Marzo del 2021 8:35 am</th>
      <th>Num. Pedido XLMN99394JNFF</th>
      <th> </th>
      <th><i class="ri-delete-bin-6-line"></i></th>
    </tr>
    <tr>
      <td data-label="Producto"><img class="tabla-imagen" src="./assets/shine-sin-eslogan.png" alt="playera"></td>
      <td data-label="Descripcion">Camiseta Skater Oversized en negro Degradado</td>
      <td data-label="Cantidad">2</td>
      <td data-label="Importe">$MXN 900.00</td>
    </tr>
    </tbody>
  </table>
  <table class="amount">
    <tbody>
    <tr>
      <td data-label="Subtotal">Subtotal</td>
      <td data-label="SubtotalCap">$MXN 1,800</td>
    </tr>
    <tr>
      <td data-label="Envío">Envío</td>
      <td data-label="EnvíoCap">$MXN 200</td>
    </tr>
    <tr>
      <th data-label="Total">Total</th>
      <th data-label="Total">$MXN 2,000</th>
    </tr>
    </tbody>
  </table>
</section>
