<div class=" flex items-center justify-center bg-white">
  <div *ngIf="loading" class="absolute z-30 top-1/2 ">
    <mat-spinner></mat-spinner>
  </div><!--items-center h-screen-->
  <div class="flex-col justify-center w-[500px] mt-8">
    <div class="flex justify-center bg-white border-2 border-black w-full p-8 ">
      <div class="w-[95%] flex-col justify-center ">
        <div class="text-3xl font-bold mb-20 text-center">
          Reestablecer contraseña
        </div>

        <div class="text-base text-center">
          <div>
            Por favor, introduzca la dirección de correo electrónico de su cuenta
            para recibir un correo con su nueva contraseña
          </div>
        </div>
        <form class="mt-9 w-full" [formGroup]="contraForm">

          <div class="">
            <label class="block text-black-700 font-bold mb-2" >
              Correo electrónico *
            </label>
            <input name="email" formControlName="email"
                   class="border-b border-black w-full text-black-700
              leading-tight focus:outline-none focus:border-black-500 p-1" id="email" type="text">
            <div *ngIf="contraForm.controls.email.hasError('required') && contraForm.controls.email.touched"
                 class="mt-1 text-red-600 text-bold text-xs">
              <p>El email es requerido</p>
            </div>
            <div *ngIf="contraForm.controls.email.hasError('pattern') && contraForm.controls.email.touched"
                 class="mt-1 text-red-600 text-bold text-xs">
              <p>El formato del email es incorrecto</p>
            </div>
          </div>
          <div class="flex flex-col items-center justify-center mt-14 w-full gap-3">
            <button (click)="restablecer()"
              class="bg-gray-950 text-white font-bold rounded border-2
              hover:bg-black
              focus:outline-none
              focus:ring
              focus:ring-gray-300
              hover: border-black
              w-full p-3" type="button"
                    [disabled]="loading"
            >
              Enviar
            </button>
            <button
              class="bg-white text-black font-bold rounded border-2
              focus:outline-none
              focus:ring
              focus:ring-gray-300
              border-black
              w-full p-3" type="submit"
              routerLink="auth/login"
              [disabled]="loading"
            >
              Cancelar
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
