input {
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5rem 0.25rem;
  margin-bottom: 1rem;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #000000;
}
