
<header aria-label="Site Header" class="sticky top-0 bg-white z-50">
  <div
      class="border-b-2 border-black mx-auto flex h-16 max-w-screen items-center justify-between sm:px-6 lg:px-8">
      <div class="flex items-center gap-4">
          <div routerLink="/" class="cursor-pointer flex bg-center bg-contain bg-[url('./assets/shine-sin-eslogan.png')] bg-no-repeat">
              <span class="sr-only">Logo</span>
              <span class="inline-block h-10 w-32 rounded-lg"></span>
          </div>
      </div>

      <div class="justify-center gap-8 ">

          <nav aria-label="Site Nav"

              class="lg:flex text-xs font-bold uppercase tracking-wide  ">


              <a (mouseover)="showSubMenu = true;showSearchInput = false; "
                  [ngClass]="{'underline':showSubMenu}"
                  class="block h-16 border-b-4 border-transparent leading-[4rem] text-black font-bold text-base cursor-pointer transition duration-75">
                  Productos
              </a>
          </nav>
      </div>

      <div class="">

          <div class="flex items-center">
              <div class="flex items-center divide-x divide-gray-100 border-x border-gray-100">
                  <span class="hidden sm:block">
                      <a
                        (click)="showSearchInput = true"
                        (mouseover)="showSearchInput = true; showSubMenu=false;"
                        (mouseover)="indexProductoSeleccionado=-1"
                        class="block border-b-4 border-transparent p-6 hover:stroke-1 stroke-2 clickeable">
                          <svg class="h-4 w-4 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                              stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                          </svg>

                          <span class="sr-only"> Search </span>

                      </a>

                  </span>
                  <!--<div class="search-input-container w-full" *ngIf="showSearchInput">-->
                  <div class="search-input-container w-full relative" *ngIf="showSearchInput">
                    <input class="w-full px-4 py-2 border rounded-md"  autocomplete="off"
                        [(ngModel)]="textoBuscado"
                        (keyup)="buscarProducto($event)"
                        (keydown)="seleccionarProducto($event)"

                        type="text" placeholder="Buscar producto...">

                        <div class="mt-3.5 bg-gray-100 border border-gray-300 rounded-md product-list
                            p-4 w-full drop-shadow-md" *ngIf="textoBuscado">
                            <ul class="">
                                <li
                                    class="p-[16px] border-b border-gray-300
                                    clickeable flex gap-3 items-center text-sm"
                                    (click)="redirigir(producto?.nombre!)"
                                    [ngClass]="{'selected-product': i==indexProductoSeleccionado, '':''}"
                                    *ngFor="let producto of productos; let i=index"
                                    (mouseover)="seleccionarMouse($event,i)"
                                    (mousedown)="isHover=false;haveMouse=true">

                                  <i class="material-symbols-outlined">
                                    search
                                  </i>
                                    <div>{{producto.nombre}}

                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                  <span>
                      <a (click)="irCarritoCompras()" class="block border-b-4 border-transparent p-5  drop-shadow hover:drop-shadow-none clickeable material-symbols-outlined">
                          <!--<svg class="h-4 w-4 " fill="none" viewBox="0 0 24 24" stroke="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                          </svg>-->

                            shopping_cart
                       <!-- <mat-icon class="fa-lg" fontSet="fa-light" fontIcon="fa-user" ></mat-icon>-->
                      </a>
                  </span>

                  <span class="relative mt-1">
                      <a  class="block border-b-4 border-transparent p-5  drop-shadow hover:drop-shadow-none clickeable">


                          <i class="material-symbols-outlined">
                            person
                          </i>
                      </a>

                      <div *ngIf="!auth;" class="absolute top-11 left-0 w-48 bg-white rounded-md drop-shadow-md px-6 py-3 sobrepuesto right-1 left-auto hidden border-0 z-50">
                        <a routerLink="/auth/iniciar-sesion" class="block py-2 mt-1 hover:underline  cursor-pointer font-bold text-base">Inicia sesión</a>
                        <a  routerLink="/auth/registro" class="block  py-2 mt-1 text-xs">¿No tienes una cuenta? <span class="font-bold hover:underline  cursor-pointer">¡Registrate aquí!</span></a>

                        </div>

                      <div *ngIf="auth;" class="absolute top-11 left-0 w-48 bg-white rounded-md drop-shadow-md px-6 py-3 sobrepuesto right-1 left-auto hidden border-0 z-50">
                        <div class=" font-bold text-lg mt-1.5" *ngIf="user">Hola {{user!.nombre}}</div><!--text-center -->
                        <a routerLink="/user" class="block py-2 mt-2 hover:underline cursor-pointer">Mi perfil</a>
                        <!--<a href="/orders" class="block hover:text-gray-600 py-2">Mis pedidos</a>-->
                        <a (click)="logout()" routerLink="/auth/logout" class="block  hover:underline py-2 mt-1 hover:text-red-600 cursor-pointer">Cerrar sesión</a>
                      </div>
                  </span>

              </div>
          </div>
      </div>
  </div>
</header>

<div #xd *ngIf="showSubMenu"
  class="mx-auto bg-white border rounded-lg shadow-lg max-w-4xl z-50 fixed items-center justify-center "
  style="left: 0; right: 0; margin: auto;">

  <ul class="divide-x divide-black flex p-0 m-0 ">
    <li class="flex-1">
      <div  class="block p-3 font-semibold text-black text-lg">
        Explora
      </div>
      <ul class=" divide-black">
        <li class=" px-4">
          <a href="#" class="block p-3 hover:text-white hover:bg-black rounded-md">
            Lo más buscado
          </a>
        </li>
        <li class=" px-4">
          <a href="#" class="block p-3 hover:text-white hover:bg-black rounded-md">
            Lo más vendido
          </a>
        </li>
        <li class=" px-4">
          <a href="#" class="block p-3 hover:text-white hover:bg-black rounded-md">
            Novedades
          </a>
        </li>
      </ul>
    </li>
    <li class="flex-1">
      <div  class="block p-3  font-semibold text-black text-lg">
        Mujer
      </div>
      <ul class="">
        <li class="mb-1 px-4">
          <a [routerLink]="['/listado']" (click)="showSubMenu = false" [queryParams]="{genero:'mujer', categoria:'Ver todo'}" class="block p-3 hover:text-white hover:bg-black rounded-md ">
            Ver todo
          </a>
        </li>
        <li class=" mb-1 px-4" *ngFor="let m of categoria_mujer">
          <a [routerLink]="['/listado']" (click)="showSubMenu = false" [queryParams]="{categoria:m.tipo,genero:'mujer'}" class="block p-3 hover:text-white hover:bg-black rounded-md">
            {{m?.tipo}}
          </a>
        </li>




      </ul>
    </li>
    <li class="flex-1">
      <div  class="block p-3 font-semibold text-black text-lg">
        Hombre
      </div>
      <ul class="">
        <li class="mb-1 px-4">
          <a [routerLink]="['/listado']" (click)="showSubMenu = false" [queryParams]="{genero:'hombre', categoria:'Ver todo'}" class="block p-3 hover:text-white hover:bg-black rounded-md">
            Ver todo
          </a>
        </li>
        <li class="mb-1 px-4" *ngFor="let m of categoria_hombre">
          <a [routerLink]="['/listado']" (click)="showSubMenu = false" [queryParams]="{categoria:m.tipo,genero:'hombre'}" class="block p-3 hover:text-white hover:bg-black rounded-md">
            {{m?.tipo}}
          </a>
        </li>




      </ul>
    </li>
  </ul>
</div>
<!--

<header aria-label="Site Header" class="fixed top-0 left-0 right-0 bg-white z-10">
    <div
        class="border-b-2 border-black mx-auto flex h-16 max-w-screen-2xl items-center justify-between sm:px-6 lg:px-8 bg-transparent">
        <div class="flex items-center gap-4">
            <button type="button" class="p-2 lg:hidden">
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>

            <a routerLink="/" class="flex">
                <span class="sr-only">Logo</span>
                <span class="inline-block h-10 w-32 rounded-lg bg-gray-200"></span>
            </a>
        </div>

        <div class="flex flex-1 items-center justify-end gap-8">
            <nav aria-label="Site Nav"
                class="hidden lg:flex lg:gap-4 lg:text-xs lg:font-bold lg:uppercase lg:tracking-wide lg:text-gray-500">



                    <a (mouseover)="showSubMenu = true;showSearchInput = false; "

                        class="block h-16 border-b-4 border-transparent leading-[4rem] hover:border-gray-600 hover:text-black clickeable">
                        Productos
                    </a>



            </nav>









            <div class="flex items-center">
              <div class="flex items-center divide-x divide-gray-100 border-x border-gray-100">

                  <button class="hidden sm:block">
                      <a (click)="showSearchInput = true"
                          (mouseover)="showSearchInput = true; showSubMenu=false;"
                          (mouseover)="indexProductoSeleccionado=-1"
                          class="block border-b-4 border-transparent p-6 hover:border-gray-600">
                          <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                              stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                          </svg>

                          <span class="sr-only"> Search </span>
                      </a>
                  </button>


                  <div class="search-input-container w-full" *ngIf="showSearchInput">
                      <input class="w-full px-4 py-2 border rounded-lg"  autocomplete="off"
                          [(ngModel)]="textoBuscado"
                          (keyup)="buscarProducto($event)"
                          (keydown)="seleccionarProducto($event)"

                          type="text" placeholder="Buscar producto...">

                          <div class="bg-gray-100 border border-gray-300 rounded-lg product-list
                              shadow-lg p-4 w-full" *ngIf="textoBuscado">
                              <ul>
                                  <li
                                      class="p-2 border-b border-gray-300
                                      clickeable "
                                      (click)="redirigir(producto?.nombre!)"
                                      [ngClass]="{'selected-product': i==indexProductoSeleccionado, '':''}"
                                      *ngFor="let producto of productos; let i=index"
                                      (mouseover)="seleccionarMouse($event,i)"
                                      (mousedown)="isHover=false;haveMouse=true">
                                      {{producto.nombre}}
                                  </li>
                              </ul>
                            </div>

                  </div>

                  <button
                    (click)="irCarritoCompras()">
                      <a  class="block border-b-4 border-transparent p-6 hover:border-gray-600">
                          <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                          </svg>

                          <span class="sr-only">Cart</span>
                      </a>
                  </button>




                  <button class="relative mt-1">
                      <a  class="block border-b-4 border-transparent p-6 hover:border-gray-600">
                        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                        </svg>
                        <span class="sr-only"> Account </span>
                      </a>

                      <div *ngIf="!auth;" class="absolute top-11 left-0 w-48 bg-white rounded-lg shadow-lg px-4 py-2 sobrepuesto right-1 left-auto hidden">
                        <a routerLink="/auth/iniciar-sesion" class="block hover:text-gray-600 py-2">Iniciar sesión</a>
                        <a  routerLink="/auth/registro" class="block hover:text-gray-600 py-2">Registrarse</a>

                        </div>

                      <div *ngIf="auth;" class="absolute top-10 left-0 w-48 bg-white rounded-lg shadow-lg px-4 py-2 sobrepuesto right-1 left-auto hidden">
                        <p class="justify-center text-black text-bold">{{user!.nombre}}</p>
                        <a routerLink="/user" class="block hover:text-gray-600 py-2">Mi consultar-perfil</a>
                        <a href="/orders" class="block hover:text-gray-600 py-2">Mis pedidos</a>
                        <a (click)="logout()" routerLink="/auth/logout" class="block hover:text-gray-600 py-2">Cerrar sesión</a>
                      </div>
                  </button>

              </div>
          </div>
      </div>
  </div>



</header>

-->
