
.relative:hover .hidden {
    display: block;
    border-color: black;

}

:hover .menu-hov {
    display: block;
    background-color: aqua;
}



.sobrepuesto{
   /* border: 1px solid #000000;*/
    z-index: 100;
    margin-top: 25px;
}

.right-0.left-auto {
    right: auto;
    left: 0;
  }

  @media (min-width: 1024px) {
    .right-0.left-auto:hover .sobrepuesto {
      right: auto;
      left: 0;
    }
  }


  .product-list {
    position: absolute;
    top: 100%;
    left: 1px;
    z-index: 10;

    background-color: #fff;
    max-width: 300px;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
  }

  .clickeable{
    cursor: pointer;
  }
:hover.hover{
  color: #fff;
  background-color: #000000;
}

.selected-product{
  color: #fff;
  background-color: #000000;
}

.xd{
  margin-left: 10px;
  width: 60%;
}
