<a [routerLink]="['/producto',producto.id,producto.detalle![0].color?.color,producto.detalle![0].talla?.talla]"
   class="group block overflow-hidden">
  <img
    class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px] z-10"
    [src]="url_backend+'api/imagenes/productos/uploads/img/'+producto.id +'/'+color +'/1.jpg' ||
                                     'https://images.unsplash.com/photo-1523381210434-271e8be1f52b?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1770&amp;q=80'"
  >
  <!--src="" alt="" -->
</a>
<div class="mt-1.5"><a class="group block overflow-hidden">
  <div class="mt-1.5 flex gap-1">
    <form>
      <fieldset>
        <legend class="sr-only">Color</legend>
      </fieldset>

      <div class="flex flex-wrap justify-center gap-1 [&amp;:hover_label]:opacity-75">
        <div *ngFor="let color of detalles_guardados; let i=index"
             [routerLink]="['/producto',producto.id,color.color?.color,color.talla?.talla]">
          <input type="checkbox" id="ColorSg+{{i}}" class="sr-only">

          <label for="ColorSg"
                 class="block h-4 w-4 cursor-pointer rounded-full bg-[{{color.color?.hexadecimal}}] transition hover:!opacity-100">
            <span class="sr-only"> {{color.color?.color}} </span>
          </label>
        </div>


      </div>
    </form>
  </div>
  <div class="relative bg-white pt-3 cursor-pointer"
       [routerLink]="['/producto',producto.id,producto.detalle![0].color?.color,producto.detalle![0].talla?.talla]">
    <div class="text-md text-black font-semibold capitalize">
      {{producto.nombre | titlecase}}
    </div>

    <p class="">
      <span class="sr-only"> Precio regular </span>

      <span class="tracking-wider text-black font-normal text-md"> ${{producto.precio}}
                                                </span>
    </p>
  </div>
</a>
</div>
