<main class="min-h-screen flex flex-col">
    <section class="flex h-screen flex-col items-end relative w-full">
        <div
            class="flex absolute h-full top-0 left-0 w-full bg-[url('https://images.pexels.com/photos/9558724/pexels-photo-9558724.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&dpr=1')] bg-no-repeat bg-cover bg-top">
        </div>
        <div class="relative h-full pb-32 bottom-0 text-center flex flex-col w-full justify-end">
            <p class="text-6xl font-semibold p-4">Hola Mundo</p>
            <a href="#" class="text-xl font-normal uppercase hover:font-extralight">Conocer mas <span
                    class="material-symbols-outlined">
                    outbound
                </span></a>
        </div>
    </section>

    <section>
        <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
            <header class="text-center">
                <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
                    Ultima Colección
                </h2>


            </header>

            <ul class="grid grid-cols-1 gap-4 mt-8 lg:grid-cols-3">
                <li>
                    <a href="#" class="relative block group">
                        <img src="https://images.unsplash.com/photo-1618898909019-010e4e234c55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            alt=""
                            class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" />


                    </a>
                    <div class="relative inset-0 flex flex-col items-center justify-end p-6">
                        <h3 class="text-xl font-normal ">Casual Trainers</h3>

                        <span
                            class="mt-0.5 inline-block underline-offset-4 underline py-1 text-md font-semibold tracking-wide ">
                            Comprar
                        </span>
                    </div>
                </li>

                <li>
                    <a href="#" class="relative block group">
                        <img src="https://images.unsplash.com/photo-1624623278313-a930126a11c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            alt=""
                            class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" />

                    </a>
                    <div class="relative inset-0 flex flex-col items-center justify-end p-6">
                        <h3 class="text-xl font-medium">Winter Jumpers</h3>

                        <span
                            class="mt-0.5 inline-block underline-offset-4 underline py-1 text-md font-semibold tracking-wide text-semibold">
                            Comprar
                        </span>
                    </div>
                </li>

                <li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
                    <a href="#" class="relative block group">
                        <img src="https://images.unsplash.com/photo-1593795899768-947c4929449d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672&q=80"
                            alt=""
                            class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" />


                    </a>
                    <div class="relative inset-0 flex flex-col items-center justify-end p-6">
                        <h3 class="text-xl font-medium">Skinny Jeans Blue</h3>

                        <span
                            class="mt-0.5 inline-block underline-offset-4 underline py-1 text-md font-semibold tracking-wide ">
                            Comprar
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

</main>
