<div class="flex items-center justify-center mt-20">
    <div class=" flex flex-col justify-center items-center  shadow-lg p-8 w-[600px]">
      <div  class="mx-3 px-2 border-b-2 border-black text-center w-full">
        <p class="font-semibold text-black text-center text-2xl">Por favor, confirma tu cuenta</p>
      </div>
      <div class="mt-4 text-center">
        Te hemos enviado un correo electrónico para activar tu cuenta.
      </div>
      <div class="mt-4">
        <img class="mx-auto" src="https://cdn-icons-png.flaticon.com/512/666/666162.png" alt="Email Icon" width="100">
      </div>

      <div class="text-center mt-6">
        Si aun no las has confirmado, Shine te permite explorar los productos que tenemos para ti.
      </div>
    </div>
</div>
