
  <div  class="mx-3 px-2 border-b-2 border-black text-center">
    <p class="font-semibold text-black text-center">Agregar/Editar producto</p>

  </div>
  <mat-dialog-content>
    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
      <div class="grid grid-cols-2">


        <div [formGroup]="agregarProductoForm" class="flex items-start flex-col">

          <label class="relative block w-2/3 overflow-hidden border-b border-black bg-transparent pt-3 ">
            <input type="text" formControlName="nombre" placeholder="Nombre"
                   class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

            <span
              class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
              Nombre
            </span>
          </label>
          <label for="Description" class="relative block w-2/3 overflow-hidden border-b border-black bg-transparent pt-6 mt-2 ">
              <textarea id="Description" placeholder="Descripcion"
                        class="mt-3 peer w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                        matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        formControlName="descripcion"
              ></textarea>

            <span class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-5 peer-focus:text-xs">
                Descripción
              </span>
          </label>
          <label  class="relative block w-2/3 overflow-hidden border-b border-black bg-transparent pt-3 mt-3 ">
            <input type="number" formControlName="precio" placeholder="Precio" class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

            <span class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
              Precio
            </span>
          </label>
          <label class="relative block w-2/3 overflow-hidden border-b border-black bg-transparent pt-3 mt-3 ">
            <input type="number" formControlName="stock" placeholder="Stock"
                   class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />

            <span
              class="absolute start-0 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
              Stock
            </span>
          </label>

          <div class="mt-3 w-2/3 pt-3">
            <p class="font-semibold text-black text-center">Variante</p>
            <fieldset>
              <legend class="mb-1 text-sm font-medium">Color</legend>

              <div class="flex flex-wrap gap-1">
                <div
                  class="flex flex-wrap w-full justify-around gap-1 [&:hover_label]:opacity-75">
                  <div>
                    <input type="checkbox" id="ColorSg" class="sr-only" />

                    <label for="ColorSg"
                           class="block h-6 w-6 cursor-pointer rounded-full bg-[#595759] transition hover:!opacity-100">
                      <span class="sr-only"> Space Gray </span>
                    </label>
                  </div>

                  <div>
                    <input type="checkbox" id="ColorS" class="sr-only" />

                    <label for="ColorS"
                           class="block h-6 w-6 cursor-pointer rounded-full bg-[#d2d3d4] transition hover:!opacity-100">
                      <span class="sr-only"> Silver </span>
                    </label>
                  </div>

                  <div>
                    <input type="checkbox" id="ColorP" class="sr-only" />

                    <label for="ColorP"
                           class="block h-6 w-6 cursor-pointer rounded-full bg-[#d89f97] transition hover:!opacity-100">
                      <span class="sr-only"> Pink </span>
                    </label>
                  </div>

                  <div>
                    <input type="checkbox" id="ColorG" class="sr-only" />

                    <label for="ColorG"
                           class="block h-6 w-6 cursor-pointer rounded-full bg-[#afbfab] transition hover:!opacity-100">
                      <span class="sr-only"> Pink </span>
                    </label>
                  </div>

                  <div>
                    <input type="checkbox" id="ColorSb" class="sr-only" />

                    <label for="ColorSb"
                           class="block h-6 w-6 cursor-pointer rounded-full bg-[#91a5bb] transition hover:!opacity-100">
                      <span class="sr-only"> Pink </span>
                    </label>
                  </div>

                  <div>
                    <input type="button" id="ColorSb" class="sr-only" />

                    <span class="material-symbols-outlined cursor-pointer">
                                                    add_circle
                                                </span>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="mt-4">
              <legend class="mb-1 text-sm font-medium">Tamaño</legend>

              <div class="flex flex-wrap justify-around gap-1">
                <label for="size_xs" class="cursor-pointer">
                  <input type="radio" name="size" id="size_xs" class="peer sr-only" />

                  <span
                    class="group inline-flex h-8 w-8 items-center justify-center border text-xs font-medium peer-checked:bg-black peer-checked:text-white">
                                                XS
                                            </span>
                </label>

                <label for="size_s" class="cursor-pointer">
                  <input type="radio" name="size" id="size_s" class="peer sr-only" />

                  <span
                    class="group inline-flex h-8 w-8 items-center justify-center border text-xs font-medium peer-checked:bg-black peer-checked:text-white">
                                                S
                                            </span>
                </label>

                <label for="size_m" class="cursor-pointer">
                  <input type="radio" name="size" id="size_m" class="peer sr-only" />

                  <span
                    class="group inline-flex h-8 w-8 items-center justify-center border text-xs font-medium peer-checked:bg-black peer-checked:text-white">
                                                M
                                            </span>
                </label>

                <label for="size_l" class="cursor-pointer">
                  <input type="radio" name="size" id="size_l" class="peer sr-only" />

                  <span
                    class="group inline-flex h-8 w-8 items-center justify-center border text-xs font-medium peer-checked:bg-black peer-checked:text-white">
                                                L
                                            </span>
                </label>

                <label for="size_xl" class="cursor-pointer">
                  <input type="radio" name="size" id="size_xl" class="peer sr-only" />

                  <span
                    class="group inline-flex h-8 w-8 items-center justify-center border text-xs font-medium peer-checked:bg-black peer-checked:text-white">
                                                XL
                                            </span>
                </label>
                <div>
                  <input type="button" id="ColorSb" class="sr-only" />

                  <span class="material-symbols-outlined cursor-pointer h-8 w-8">
                                                add_box
                                            </span>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div>

          <img alt="Les Paul"
               src="https://media.paulsmith.com/dam/products/w_600,c_scale/q_80/MODEL/ECOM/M1R/M1R-2173-K02013-60/M1R-2173-K02013-60/M1R-2173-K02013-60_3.jpg"
               class="aspect-[5/7] w-full object-cover" />
        </div>
      </div>
    </div>
  </mat-dialog-content>
<!-- Fin modal -->
  <mat-dialog-actions align="center">
    <button class="group relative inline-block overflow-hidden border bg-black border-black px-8 py-3 focus:outline-none focus:ring mx-2"
            (click)="registrarNuevoProducto()"
    >
      <span class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-white transition-all group-hover:w-full group-active:bg-white"></span>

      <span class="relative text-sm font-medium text-white transition-colors  text-center">
          Guardar Cambios
        </span>
    </button>
    <button class="group relative inline-block overflow-hidden border border-black px-8 py-3 focus:outline-none focus:ring mx-2"
            (click)="cancelar()"
    >
      <span class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-black transition-all group-hover:w-full group-active:bg-white"></span>

      <span class="relative text-sm font-medium text-black transition-colors text-center">
          Cancelar
        </span>
    </button>
  </mat-dialog-actions>
