<div class=" flex items-center justify-center bg-white"> <!--items-center h-screen-->
  <div class="flex-col justify-center w-[500px]">
    <div class="flex justify-center bg-white border-2 border-black w-full p-8 ">
      <div class="w-[95%] flex-col justify-center ">
        <div class="text-3xl font-bold mb-20 text-center">
          Completar perfil
        </div>

        <div class="text-base text-center">
          <div>
            {{usuario?.nombre}}
          </div>
        </div>
        <form class="mt-9 w-full" [formGroup]="perfilForm">
          <div class="my-8">
            <div class="relative max-w-sm">
              <div class="absolute inset-y-0 left-0 items-center pl-3 pointer-events-none ">
                <svg aria-hidden="true" class="w-5 h-5 text-black dark:text-white" fill="currentColor"
                viewBox="0 0 20 20">

                </svg>
                <!-- <input type="date"> -->
              </div>
            </div>

          </div>

          <div class="my-8">
            <label class="block text-black font-bold mb-2" >
              Nombre *
            </label>
            <input name="nombre" formControlName="nombre"
                   class="border-b border-black w-full text-black-700
              leading-tight focus:outline-none focus:border-black-500 p-1" id="nombre" type="text">
          </div>

          <div class="my-8">
            <label class="block text-black font-bold mb-2" >
              Apellido *
            </label>
            <input name="apellido" formControlName="apellido"
                   class="border-b border-black w-full text-black-700
              leading-tight focus:outline-none focus:border-black-500 p-1" id="Apellido" type="text">
          </div>

          <div class="my-8">
            <label class="block text-black font-bold mb-2" >
              Edad *
            </label>
            <input name="edad" formControlName="edad"
                   class="border-b border-black w-full text-black-700
              leading-tight focus:outline-none focus:border-black-500 p-1" id="edad" type="text">
          </div>

          <div class="my-8">

            <label class="inline-flex items-center">
              <input type="radio" name="sexo"
                id="sexoHombre"
                class="form-checkbox  h-5 w-5 border-black-300 rounded-md bg-black-300">
              <span class="ml-2 text-black-700">Hombre</span>
            </label>
            <label class="ml-6 inline-flex items-center">
              <input type="radio"
                  id="sexoMujer"
                name="sexo" class="form-checkbox h-5 w-5 border-black-300 rounded-md bg-black-300">
              <span class="ml-2 text-black-700">Mujer</span>
            </label>
          </div>

          <div class="my-8">
            <label class="block text-black-700 font-bold mb-2" >
              Altura *
            </label>
            <input name="altura" formControlName="altura"
                   class="border-b border-black w-full text-black-1000
              leading-tight focus:outline-none focus:border-black-500 p-1" id="email" type="text">
          </div>

          <div class="my-8">
            <label class="block text-black-700 font-bold mb-2" >
              Talla en camisas, playeras, blusas *
            </label>
            <input name="talla_camisa" formControlName="talla_camisa"
                   class="border-b border-black w-full text-black-1000
              leading-tight focus:outline-none focus:border-black-500 p-1" id="talla_camisa" type="text">
          </div>

          <div class="my-8">
            <label class="block text-black-700 font-bold mb-2" >
              Talla en pantalones, jeans *
            </label>
            <input name="talla_pantalon" formControlName="talla_pantalon"
                   class="border-b border-black w-full text-black-1000
              leading-tight focus:outline-none focus:border-black-500 p-1" id="talla_pantalon" type="text">
          </div>

          <div class="flex items-center justify-center mt-3 w-full">
            <a class="group relative inline-block overflow-hidden border bg-black border-black px-8 py-3 focus:outline-none focus:ring mx-2"
               href="#">
                            <span
                              class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-white transition-all group-hover:w-full group-active:bg-white"></span>

              <span class="relative text-sm font-medium text-white transition-colors  text-center">
                                Enviar
                            </span>
            </a>
          </div>

          <div class="flex items-center justify-center mt-3 w-full">
            <a class="group relative inline-block overflow-hidden border bg-white border-black px-8 py-3 focus:outline-none focus:ring mx-2"
               href="#">
                            <span
                              class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-red-500 transition-all group-hover:w-full group-active:bg-white"></span>

              <span class="relative text-sm font-medium text-red-500 transition-colors  text-center">
                                Cancelar
                            </span>
            </a>
          </div>



        </form>
      </div>
    </div>
  </div>
</div>
