<div class="flex justify-center flex-col gap-6 items-center">
  <div class="flex w-full items-center justify-center border-b-2 border-black mb-6 p-3 gap-3">
    <!--<input type="text" placeholder="Buscar producto"
           class="focus:border-none w-11/12 border-black border-solid border-2 rounded-md  p-3 outline-black outline-2">
    <i class="material-symbols-outlined cursor-pointer">
      search
    </i>-->
    <div class="flex justify-center items-center text-3xl font-bold">
      <div>Gestión de ventas y pedidos</div>
    </div>
  </div>
  <div class="w-[90%] flex justify-center">
    <table mat-table
           [dataSource]="dataSourcePedidos ?? []" multiTemplateDataRows
           class="mat-elevation-z8">
      <ng-container matColumnDef="nombre_producto" >
        <th mat-header-cell class="border-b" *matHeaderCellDef>Nombre del producto</th>
        <td mat-cell *matCellDef="let element">
          <div class="capitalize">
            {{element.detalle_producto.nombre_producto}}
          </div>
        </td >
      </ng-container>
      <ng-container matColumnDef="active" >
        <th mat-header-cell class="border-b" *matHeaderCellDef>Estado del pedido</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.active === true" class="font-bold">En proceso</div>
          <div *ngIf="element.active === false" class=" font-bold">Entregado</div>
        </td >
      </ng-container>
      <ng-container matColumnDef="acciones" >
        <th mat-header-cell class="border-b" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button *ngIf="element.active === true" class="font-bold"
                  [matTooltip]="'Confirmar producto como entregado'"
                  (click)="confirmarPedidoEntregado(element)"
          >
            <mat-icon class="material-symbols-outlined">check_circle</mat-icon>
          </button>
        </td >
      </ng-container>
      <ng-container matColumnDef="{{item[0]}}" *ngFor="let item of columnasZip">
        <th mat-header-cell *matHeaderCellDef>{{item[1]}}</th>
        <td mat-cell *matCellDef="let element"> {{element[item[0]]}} </td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="w-full flex sm:justify-between flex-col sm:flex-row p-4">
              <!--<div>
                <img alt="Les Paul" class="w-[500px]"
                     [src]="url_backend+'api/imagenes/productos/uploads/img/'+element.detalle_producto.id +'/'+element.detalle_producto!.color?.color +'/1.jpg' ||
                                'https://images.unsplash.com/photo-1523381210434-271e8be1f52b?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1770&amp;q=80'"
                />
              </div>-->
              <div class="avatar">
                <div class="w-12 rounded">
                  <img alt=" " [src]="url_backend+'api/imagenes/productos/uploads/img/'+element.detalle_producto.id_producto +'/'+element.detalle_producto!.color?.color +'/1.jpg' ||
                              'https://images.unsplash.com/photo-1523381210434-271e8be1f52b?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1770&amp;q=80'" />
                </div>
              </div>
              <div>
                <span class="font-semibold ">Detalles del pedido:</span>
                <div class="mt-2 flex flex-col gap-1  text-sm capitalize">
                  <div>Nombre: {{element.detalle_producto.nombre_producto}}</div>
                  <div>Talla: {{element.detalle_producto.talla.talla}}</div>
                  <div>Color: {{element.detalle_producto.color.color}}</div>
                  <div>Cantidad: {{element.cantidad}}</div>
                  <div>Precio: {{element.precio | currency}}</div>

                </div>
              </div>
              <div>
                <span class="font-semibold ">Código de seguimiento del producto:</span>
                <div class="mt-2 flex flex-col text-sm">
                  <div>{{element.codigo_seguimiento}}</div>
                </div>
              </div>
              <div>
                <span class="font-semibold ">Fecha de compra del producto:</span>
                <div class="mt-2 flex flex-col text-sm">
                  <div>{{element.fecha_compra}}</div>
                </div>
              </div>
              <div>
                <span class="font-semibold ">Dirección de entrega:</span>
                <div class="mt-2 flex flex-col text-sm capitalize">
                  <div>{{element.direccion.calle}}, {{element.direccion.colonia}}, {{element.direccion.estado}}</div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
</div>


