@import "@fortawesome/fontawesome-free/css/all.css";
/* You can add global styles to this file, and also import other style files */

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 100,
    'opsz' 20
}


:hover.invert-color{
    color: white;
    background-color: black;
}

.mat-step-header .mat-step-label{
}

.mat-step-header .mat-step-icon {
  color: rgba(0, 0, 0, .54);
  background-color: black;
  width: 40px;
  height: 40px;
  color: white;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
