<div class="col-span-1 mt-4 flex justify-center items-center">
  <div class="text-3xl font-bold mb-4">Confirmar compra</div>
</div>


<div class="grid grid-cols-7 ">

  <div class="col-span-5 flex justify-center ">
    <div class="col-span-1 max-h-screen overflow-y-auto p-4">
      <div>
        <mat-stepper orientation="vertical"  [linear]="isLinear" #stepper>
          <mat-step  [stepControl]="direccionForm" errorMessage="La direccion es requerida">
            <form [formGroup]="direccionForm">
              <ng-template matStepLabel>
                <div class="font-['Be_Vietnam_Pro'] text-black font-bold text-lg">
                  Agrega tu dirección
                </div>
              </ng-template >
              <div>
                <div class="bg-white rounded-lg border border-black pb-4" style="padding: 1rem;">
                  <Table>
                    <tr>
                      <td class="p-3" colspan="2">
                        <label class="block text-black-700 font-bold mb-2 ">
                          * Estado
                        </label>
                        <select (change)="cargarMunicipios()" formControlName="estado"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-3"
                        >
                          <option disabled hidden selected value="">Seleccione un estado</option>
                          <option *ngFor="let estado of estados" [value]="estado.nombre">{{ estado.nombre }}</option>
                        </select>
                        <div *ngIf="direccionForm.controls.estado.hasError('required') && direccionForm.controls.estado.touched"
                              class="mt-1 text-red-600 text-bold text-xs">
                          <p>El estado es requerido</p>
                        </div>
                      </td>

                      <td class="p-3" colspan="1">
                        <label class="block text-black-700 font-bold mb-2">
                          * Delegación o Municipio
                        </label>
                        <select formControlName="municipio"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-3"
                        >
                          <option disabled hidden selected value="">Seleccione un municipio o delegación</option>
                          <option *ngFor="let municipio of municipios" [value]="municipio">{{ municipio }}</option>
                        </select>
                        <div *ngIf="direccionForm.controls.municipio.hasError('required') && direccionForm.controls.municipio.touched"
                             class="mt-1 text-red-600 text-bold text-xs">
                          <p>La delegación o municipio es requerido</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-3" colspan="2">
                        <label class="block text-black-700 font-bold mb-2 ">
                          * Colonia
                        </label>
                        <input name="colonia" formControlName="colonia"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="colonia" type="text" >
                        <div *ngIf="direccionForm.controls.colonia.hasError('required') && direccionForm.controls.colonia.touched"
                             class="mt-1 text-red-600 text-bold text-xs">
                          <p>La colonia es requerida</p>
                        </div>
                      </td>

                      <td class="p-3" colspan="1">
                        <label class="block text-black-700 font-bold mb-2">
                          * Codigo Postal
                        </label>
                        <input name="codigo-postal" formControlName="codigoPostal"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="codigo-postal" type="text">
                        <div *ngIf="direccionForm.controls.codigoPostal.hasError('pattern') && direccionForm.controls.codigoPostal.touched"
                             class="mt-1 text-red-600 text-bold text-xs">
                          <p>Por favor, verifica tu código postal</p>
                        </div>
                        <div *ngIf="direccionForm.controls.codigoPostal.hasError('required') && direccionForm.controls.codigoPostal.touched"
                             class="mt-1 text-red-600 text-bold text-xs">
                          <p>El código postal es requerido</p>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="p-3">
                        <label class="block text-black-700 font-bold mb-2" >
                          * Calle
                        </label>
                        <input name="calle" formControlName="calle"
                               class="border-b border-black w-full text-black-1000
              leading-tight focus:outline-none focus:border-black-500 p-1" id="calle" type="text">
                        <div *ngIf="direccionForm.controls.calle.hasError('required') && direccionForm.controls.calle.touched"
                             class="mt-1 text-red-600 text-bold text-xs">
                          <p>La calle es requerida</p>
                        </div>
                      </td>

                      <td class="p-3">
                        <label class="block text-black-700 font-bold mb-2">
                          * Numero Ext
                        </label>
                        <input name="num-ext" formControlName="numExt"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="num-ext" type="text">
                        <!--<div *ngIf="direccionForm.controls.numExt.hasError('pattern') && direccionForm.controls.numExt.touched"
                             class="mt-1 text-red-600 text-bold text-xs">
                          <p>Por favor, solo ingresa números</p>
                        </div>-->
                        <div *ngIf="direccionForm.controls.numExt.hasError('required') && direccionForm.controls.numExt.touched"
                             class="mt-1 text-red-600 text-bold text-xs">
                          <p>El número exterior es requerido</p>
                        </div>

                      </td>

                      <td class="p-3">
                        <label class="block text-black-700 font-bold mb-2">
                          Numero int
                        </label>
                        <input name="num-int" formControlName="numInt"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="num-int" type="text">
                        <!--<div *ngIf="direccionForm.controls.numInt.hasError('pattern') && direccionForm.controls.numInt.touched"
                             class="mt-1 text-red-600 text-bold text-xs">
                          <p>Por favor, solo ingresa números</p>
                        </div>-->
                      </td>
                    </tr>

                  </Table>
                </div>
              </div>

              <div class="mt-3">
                <button matStepperNext class="group relative inline-block overflow-hidden border bg-black border-black px-8 py-3 focus:outline-none focus:ring mx-2"
                        [disabled]="loading"
                        (click)="guardarDireccion()"
                >
                  <span class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-white transition-all group-hover:w-full group-active:bg-white"></span>

                  <span class="relative text-sm font-medium text-white transition-colors  text-center">
                    Siguiente
                  </span>
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="facturacionForm" errorMessage="La información de facturacion es requerida {{error}}">
            <form [formGroup]="facturacionForm">
              <ng-template matStepLabel>
                <div class="font-['Be_Vietnam_Pro'] text-black font-bold text-lg">
                  Facturación
                </div>
              </ng-template>
              <div>
                <div class="flex flex-col gap-3 bg-white rounded-lg border border-black pb-4" style="padding: 1rem;">
                  <table class="w-full">
                    <tr>
                      <td class="p-3" colspan="5">
                        <label class="block text-black-700 font-bold mb-2">
                          Nombre del titular
                        </label>
                        <input name="numero-tarjeta" formControlName="nombreTitular"
                               class="border-b border-black w-full  text-black-1000 leading-tight focus:outline-none focus:border-black-500 p-1" id="nombreTitular" type="text">
                        <div *ngIf="facturacionForm.controls.nombreTitular.hasError('required') && facturacionForm.controls.nombreTitular.touched"
                             class="mt-1 text-red-600 text-bold text-xs">
                          <p>El nombre del titular es requerido</p>
                        </div>
                        <div *ngIf="facturacionForm.controls.nombreTitular.hasError('pattern') && facturacionForm.controls.nombreTitular.touched"
                             class="mt-1 text-red-600 text-bold text-xs">
                          <p>Por favor, solo ingresa letras</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-3" colspan="5">
                        <ngx-stripe-card
                          [options]="cardOptions"
                          [elementsOptions]="elementsOptions"
                        ></ngx-stripe-card>
                      </td>
                    </tr>

                    <div *ngIf="isErrorFacturacion"
                         class="mt-1 text-red-600 text-bold text-xs">
                      <p>{{this.errorFacturacion}}</p>
                    </div>
                  </table>

                </div>
              </div>

              <div class="mt-3">
                <button matStepperPrevious class="group relative inline-block overflow-hidden border border-black px-8 py-3 focus:outline-none focus:ring mx-2"
                        [disabled]="loading"
                >
                  <span class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-black transition-all group-hover:w-full group-active:bg-white"></span>

                  <span class="relative text-sm font-medium text-black transition-colors text-center">
                  Regresar
                </span>
                </button>

                <button matStepperNext class="group relative inline-block overflow-hidden border bg-black border-black px-8 py-3 focus:outline-none focus:ring mx-2"
                        [disabled]="loading"
                        (click)="confirmarDatosPago()"
                >
                  <span class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-white transition-all group-hover:w-full group-active:bg-white"></span>

                  <span class="relative text-sm font-medium text-white transition-colors  text-center">
                    Siguiente
                </span>
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>
              <div class="font-['Be_Vietnam_Pro'] text-black font-bold text-lg">
                Resumen de productos
              </div>
            </ng-template>
            <div class="flex justify-between items-center mt-3" *ngFor="let elemento of bolsa; let i =index">
              <div class="text-base font-semibold capitalize">{{productos[i].producto?.nombre}}:</div>
              <div class="text-sm">{{productos[i].producto?.descripcion}}</div>
              <div class="text-sm">${{cantidadProductos(productos[i].producto?.precio!,elemento.cantidad!)| number:'1.2-2' }}</div>
              <div class="text-sm">({{elemento.cantidad}})</div>
            </div>
            <div class="text-center mt-6 text-lg">Por favor, <span class="underline underline-offset-2 font-semibold">revisa tu información antes de continuar</span></div>

          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>


  <div class="sticky top-16 right-0 col-span-2 flex justify-center items-center mb-auto flex-col">
    <div class="col-span-1 max-h-screen overflow-y-auto p-4">
      <div class=" max-h-screen bg-white rounded-lg border border-black pb-4 p-3" >
        <div class="text-2xl font-bold mb-4">Resumen de compra</div>
        <div class="w-64 max-w-full mx-auto">
          <div class="border-b border-black w-3/3 mx-auto"></div>
        </div>
        <div class="text-sm font-bold mt-4 mb-2">Productos</div>

        <div class="flex justify-between items-center mb-2" *ngFor="let elemento of bolsa; let i =index">
          <div class="text-sm">{{productos[i].producto?.nombre}} ({{elemento.cantidad}}):</div>
          <div class="text-sm">${{cantidadProductos(productos[i].producto?.precio!,elemento.cantidad!)| number:'1.2-2' }}</div>
        </div>

        <div class="w-64 max-w-full mx-auto">
          <div class="border-b border-black w-3/3 mx-auto"></div>
        </div>
        <!--<div class="flex justify-between items-center mt-4 mb-2">
          <div class="text-sm">Envío</div>
          <div class="text-sm">$5.00</div>
        </div>
        <div class="w-64 max-w-full mx-auto">
          <div class="border-b border-black w-3/3 mx-auto"></div>
        </div>-->
        <div class="flex justify-between items-center mt-4 mb-2">
          <div class="text-sm font-bold">Total</div>
          <div class="text-sm font-bold">${{calcularTotal()| number:'1.2-2'}}</div>

        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <button class="group relative inline-block overflow-hidden border bg-black border-black px-8 py-3 focus:outline-none focus:ring mx-2"
              [disabled]="loading && isErrorFacturacion"
              (click)="comprar()"
      >
        <span class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-white transition-all group-hover:w-full group-active:bg-white"></span>

        <span class="relative text-sm font-medium text-white transition-colors  text-center">
                    Confirmar compra
                </span>
      </button>
      <button class="group relative inline-block overflow-hidden border border-black px-8 py-3 focus:outline-none focus:ring mx-2"
              [disabled]="loading"
              (click)="irMenuPrincipal()"
      >
        <span class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-black transition-all group-hover:w-full group-active:bg-white"></span>

        <span class="relative text-sm font-medium text-black transition-colors text-center">
                    Regresar al menú principal
                  </span>
      </button>
    </div>
    <div class="mt-4" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>


</div>












