<div class="col-span-1 mt-4 flex justify-center items-center">
  <div class="text-3xl font-bold mb-4">Confirmar compra</div>
</div>


<div class="grid grid-cols-7 h-[2000px]"><!--Le quitas el 2000 xd, solo es para ver si se queda pegado el ticket-->

  <div class="col-span-5 flex justify-center ">
    <div class="col-span-1 max-h-screen overflow-y-auto p-4">
      <div>
        <mat-stepper orientation="vertical"  [linear]="isLinear" #stepper>
          <mat-step>
            <form>
              <ng-template matStepLabel>
                <div class="font-['Be_Vietnam_Pro'] text-black font-bold text-lg">
                  Agrega tu dirección
                </div>
              </ng-template >
              <div>
                <div class="bg-white rounded-lg border border-black pb-4" style="padding: 1rem;">
                  <Table [formGroup]="direccionForm">
                    <tr>
                      <td class="p-5" colspan="2">
                        <label class="block text-black-700 font-bold mb-2 ">
                          Estado
                        </label>
                        <input name="estado" formControlName="estado"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="estado" type="text">
                      </td>

                      <td class="p-5" colspan="1">
                        <label class="block text-black-700 font-bold mb-2">
                          Delegación o Municipio
                        </label>
                        <input name="municipio" formControlName="municipio"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="municipio" type="text">
                      </td>
                    </tr>
                    <tr>
                      <td class="p-5" colspan="2">
                        <label class="block text-black-700 font-bold mb-2 ">
                          Colonia
                        </label>
                        <input name="colonia" formControlName="colonia"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="colonia" type="text">
                      </td>

                      <td class="p-5" colspan="1">
                        <label class="block text-black-700 font-bold mb-2">
                          Codigo Postal
                        </label>
                        <input name="codigo-postal" formControlName="codigoPostal"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="codigo-postal" type="text">
                      </td>
                    </tr>

                    <tr>
                      <td class="p-5">
                        <label class="block text-black-700 font-bold mb-2" >
                          Calle
                        </label>
                        <input name="calle" formControlName="calle"
                               class="border-b border-black w-full text-black-1000
              leading-tight focus:outline-none focus:border-black-500 p-1" id="calle" type="text">
                      </td>

                      <td class="p-5">
                        <label class="block text-black-700 font-bold mb-2">
                          Numero Ext
                        </label>
                        <input name="num-ext" formControlName="numExt"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="num-ext" type="text">
                      </td>

                      <td class="p-5">
                        <label class="block text-black-700 font-bold mb-2">
                          Numero int
                        </label>
                        <input name="num-int" formControlName="numInt"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="num-int" type="text">
                      </td>
                    </tr>
                    <tr>
                      <td class="p-5" colspan="3">
                        <label class="block text-black-700 font-bold mb-2">
                          Número de telefono
                        </label>
                        <input name="numero-telefono" formControlName="telefono"
                               class="border-b border-black w-full  text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="numero-telefono" type="text">
                      </td>
                    </tr>
                  </Table>
                </div>
              </div>

              <div>
                <button matStepperNext class="group relative inline-block overflow-hidden border bg-black border-black px-8 py-3 focus:outline-none focus:ring mx-2"
                >
                  <span class="absolute inset-y-[97%] left-0 bottom-0 w-[2px] bg-white transition-all group-hover:w-full group-active:bg-white"></span>

                  <span class="relative text-sm font-medium text-white transition-colors  text-center">
                    Enviar
                  </span>
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step >
            <form >
              <ng-template matStepLabel>
                <div class="font-['Be_Vietnam_Pro'] text-black font-bold text-lg">
                  Facturación
                </div>
              </ng-template>
              <div>
                <div class="bg-white rounded-lg border border-black pb-4" style="padding: 1rem;">
                  <table [formGroup]="direccionForm">
                    <tr>
                      <td class="p-5" colspan="5">
                        <label class="block text-black-700 font-bold mb-2">
                          Número de tarjeta
                        </label>
                        <input name="numero-tarjeta" formControlName="telefono"
                               class="border-b border-black w-full  text-black-1000
             leading-tight focus:outline-none focus:border-black-500 p-1" id="numero-tarjeta" type="text">
                      </td>
                    </tr>

                    <tr>
                      <td class="p-5" colspan="3">
                        <label class="block text-black-700 font-bold mb-2 ">
                          Fecha de vencimiento
                        </label>
                        <input name="vencimiento" formControlName="vencimiento"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="vencimiento" type="text">
                      </td>

                      <td class="p-5" colspan="2">
                        <label class="block text-black-700 font-bold mb-2">
                          Cvv
                        </label>
                        <input name="Cvv" formControlName="Cvv"
                               class="border-b border-black w-full text-black-1000
                       leading-tight focus:outline-none focus:border-black-500 p-1" id="Cvv" type="text">
                      </td>
                    </tr>
                  </table>

                </div>
              </div>

              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>
              <div class="font-['Be_Vietnam_Pro'] text-black font-bold text-lg">
                Resumen de productos
              </div>
            </ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>


  <div class="sticky top-16 right-0 col-span-2 flex justify-center items-center mb-auto">
    <div class="col-span-1 max-h-screen overflow-y-auto p-4">
      <div class=" max-h-screen bg-white rounded-lg border border-black pb-4 p-3" >
        <div class="text-2xl font-bold mb-4">Resumen de compra</div>
        <div class="w-64 max-w-full mx-auto">
          <div class="border-b border-black w-3/3 mx-auto"></div>
        </div>
        <div class="text-sm font-bold mt-4 mb-2">Productos</div>
        <div class="flex justify-between items-center mb-2">
          <div class="text-sm">Producto 1</div>
          <div class="text-sm">$20.00</div>
        </div>
        <div class="flex justify-between items-center mb-2">
          <div class="text-sm">Producto 2</div>
          <div class="text-sm">$35.00</div>
        </div>
        <div class="w-64 max-w-full mx-auto">
          <div class="border-b border-black w-3/3 mx-auto"></div>
        </div>
        <div class="flex justify-between items-center mt-4 mb-2">
          <div class="text-sm">Envío</div>
          <div class="text-sm">$5.00</div>
        </div>
        <div class="w-64 max-w-full mx-auto">
          <div class="border-b border-black w-3/3 mx-auto"></div>
        </div>
        <div class="flex justify-between items-center mt-4 mb-2">
          <div class="text-sm font-bold">Total</div>
          <div class="text-sm font-bold">$60.00</div>

        </div>
      </div>
    </div>
  </div>


</div>












